// blues
$blu1: #e9f1ff; 
$blu2: #cedcf5; 
$blu3: #afbed8; 
$blu4: #7f90af; 
$blu5: #5b6e92; 
$blu6: #324668; 
$blu7: #1c2c4b; 
$blu8: #0e1729; 

//greys
$grey1: #fafafa;
$grey2: #e7e7e7;
$grey3: #cecece;
$grey4: #a8a8a8;
$grey5: #505050;
$grey6: #333333;
$grey7: #1f1f1f;
$grey8: #0f0f0f;

// white
$white: #ffffff;

// black
$black: #000000;

$red:#e96774;
$red:#da4958;
$red:#0e0e0e;
$red:#0e0e0e;
$red:#3baf56;
$red:#63ca7b;
$red:#ffda6a;
