@font-face {
    font-family: 'Eurostile Extended';
    src: url('./fonts/EE/EurostileExtended-Roman.eot');
    src: url('./fonts/EE/EurostileExtended-Roman.eot?#iefix') format('embedded-opentype'),
        url('./fonts/EE/EurostileExtended-Roman.woff2') format('woff2'),
        url('./fonts/EE/EurostileExtended-Roman.woff') format('woff'),
        url('./fonts/EE/EurostileExtended-Roman.svg#EurostileExtended-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eurostile Extended';
    src: url('./fonts/EE/EurostileExtended-Black.eot');
    src: url('./fonts/EE/EurostileExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/EE/EurostileExtended-Black.woff2') format('woff2'),
        url('./fonts/EE/EurostileExtended-Black.woff') format('woff'),
        url('./fonts/EE/EurostileExtended-Black.svg#EurostileExtended-Black') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
